<div class="center hero-unit">
  <h1>Welcome to Kelton's ToDo App</h1>

  <h3>
    Create your ToDo list below
  </h3>

  <%= link_to "Save your list", '#', class: "btn btn-large btn-primary" %>
</div>