<div class="center hero-unit">
  <h1>Welcome to Kelton's ToDo App</h1>

  <h2>This is h2</h2>



  <h5>this is h5</h5>
  <h6>this is h6</h6>
  <p>this is a paragraph</p>
  <% render :template => 'lists/new' %>

  <%= link_to "Save your list", '#', class: "btn btn-large btn-primary" %>
</div>